@css {
/*  CSS3 Classes - Luis Gago Casas  */
}
@import 'nib/vendor'
// @import "keyframes.styl"
// @import "animate.styl"
// @import "animate-mixins.styl"

vendor-prefixes = o ms moz webkit

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src local('Open Sans'), local('OpenSans'), url("fonts/opensans.woff") format('woff')

@font-face
	font-family 'Crete Round'
	src local('Crete Round'), local('Crete Round'), url("fonts/creteround-regular-webfont.woff") format("woff")
	font-weight normal
	font-style normal

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments

appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments

html,button,input,select,textarea
	color #222

body
	background #000
	// // background url(../img/bg.jpg) top no-repeat
	// background url(http://koke.github.io/scalablebg/images/background.jpg) no-repeat center top
	width 100%
	height 100%
	// color #95B5EA
	color #323e4a
	font-family 'Open Sans',Arial,Sans-serif
	font-size 16px
	margin 0px

::-moz-selection
	background #ffa500
	color #fff
	text-shadow none

::selection
	background #ffa500
	color #fff
	text-shadow none

hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0

img
	vertical-align middle

fieldset
	border 0
	margin 0
	padding 0

textarea
	resize vertical

input
	width 250px
	box-sizing border-box
	padding 10px 10px 10px 10px
	background-color #f6f6f6
	border 1px solid #b5b5b5
	border-radius 5px
	font-size 14px
	box-shadow 0 0 10px rgba(204,204,204,0.5) inset
	-webkit-background-clip padding-box
	outline 0

#bg
	position fixed
	z-index -1
	top 0
	left 0
	width 100%

#pre-load-web
	width 100%
	position absolute
	background #4683CE
	left 0px
	top 0px
	z-index 100000

	#imagen-load
		left 50%
		margin-left -230px
		position absolute
		text-align center
		color #FFF

		h3
			margin 10px 0px 10px 0px

		img:hover
			animated()
			animatedflip()

@import "keyframess.styl"

.pagina
	margin 0px auto 0px auto
	width 1000px
	height auto
	position absolute
	left 0px
	right 0px

header
	width 100%
	position fixed
	top 0
	left 0
	//background linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.9))

.cabecera
	width 1000px
	margin 0px auto

.flotante
	background linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.9))
	animated()
	animatedbounce()

	.menuprincipal
		margin 0px 0 0 20px !important

	.redes
		margin 0px 20px 0 0 !important

	a
		color #000 !important

	.logo
		width 110px !important

	ul
		margin 22px 0 0 0 !important

.menuprincipal
	float left
	margin 5px 0px 0px 20px

	.logo
		width 200px
		margin 0px auto
		display inline-block
		vertical-align top

		img
			width 100%
			// opacity 0.8

		&:hover
			animated()
			animatedflip()

	ul
		margin 50px 0px 0px 0px
		padding 0px
		display inline-block

		li
			margin 0px 5px 0px 5px
			padding 0px
			display inline-block

			a
				display block
				color #FFF
				text-decoration none
				font-size 22px
				font-family 'Crete Round'

				&:hover
					animated()
					animatedpulse()

.redes
	float right
	margin 55px 20px 0 0px

	ul
		margin 0px
		padding 0px

		li
			margin 0px
			padding 0px
			display inline-block

			a
				display block
				color #FFF
				text-decoration none

				img
					width 100%

				&:hover
					animated()
					animatedpulse()

.twitter
	width 300px

.efectoone
	animated()
	animatedbounceIn()

.contenido
	position absolute
	margin 125px auto 0 auto
	z-index -1
	text-align justify
	left 0
	right 0
	width 940px

	.imgvideo
		width 560px
		position absolute
		height 315px
		cursor pointer

	section
		color #FFF

		h3
			margin 0px 0px 5px 30px
			font-family Crete Round
			// text-decoration underline
			text-transform uppercase
			text-align center

		.inscripcion
			width 100%
			margin 50px 0px 0px 0px

			.inscr
				vertical-align top
				position absolute

			.one
				margin 0px 0px 0px 180px

				&:hover
					cursor pointer
					animated()
					animatedpulse()

			.twu
				margin -50px 0px 0px 411px

				&:hover
					cursor pointer
					animated()
					animatedpulse()

			img
				width 400px

		p
			margin 10px 0px 0px 0px
			font-size 18px
			line-height 30px

		img
			width auto

		blockquote
			background #f9f9f9
			border-left 10px solid #ccc
			margin 20px 40px 20px 40px
			padding 0.5em 10px
			color #323e4a

			&:before
				color #ccc
				content open-quote
				font-size 4em
				line-height 0.1em
				margin-right 0.25em
				vertical-align -0.4em

			p
				display inline

		.video
			border 10px solid rgba(255,255,255,0.3)
			border-radius 10px
			width 560px
			height 315px
			margin 20px auto

	.listajuegos
		width 100%
		height auto

		.juego
			width 47%
			height auto
			display inline-block
			margin 0px 10px 50px 10px
			vertical-align top


			.textimg
				width 95%
				font-size 15px
				line-height 22px
				vertical-align top
				margin 0px auto
				height 110px
				overflow hidden
				z-index 1

				&:hover
					overflow visible
					display block
					min-height 360px
					overflow-y scroll
					position absolute
					width 425px
					margin 0px 10px 0px 10px
					padding 5px
					color #FFF

				&:hover ~ .video
					opacity 0.2
					margin 110px 0px 0px 0px
					animated()
					animatedbounce()

				.titulo
					float left
					margin 25px 5px 5px 0px
					font-weight bold
					font-size 33px

					&:hover
						animated()
						animatedpulse()

			.reglamento
				margin 10px 0 0 10px
				// background #24CC6E
				background-color #DB2323
				padding 3px 5px 3px 5px
				border-radius 5px
				float right
				box-shadow 0px 2px 5px #5E5A5A
				border 1px rgba(0, 0, 0, 0.26) solid

				a
					text-decoration none
					color #FFF

			.video
				width 420px
				height 235px
				margin 0 auto

				iframe
					width 100%
					height 100%

	.fondos
		width 23%
		height auto
		display inline-block
		margin 0px 5px 50px 5px
		vertical-align top
		text-align center

		figure
			width 90%
			height auto
			margin 0px
			border 10px solid rgba(255,255,255,0.3)
			border-radius 10px

			img
				width 100%

		button
			width 100%
			background #00b941
			border 0px
			color #fff
			font-size 13.5px
			border-radius 5px
			padding 10px 15px
			text-transform uppercase
			cursor pointer
			margin 5px 0px 0px 0px
			border-bottom 3px solid #074E07
			outline 0

		.descarga
			position absolute
			margin 65px 0 0 -90px
			text-decoration none
			text-transform uppercase
			display none
			color #FFF
			text-shadow 1px 3px 5px #000000
			font-weight bold
			z-index 1

.boton-verde
	background #00b941
	border 1px solid #009a34
	color #fff
	font-size 13.5px
	border-radius 5px
	padding 10px 15px
	text-transform uppercase
	cursor pointer

.mensaje, .error
	position absolute
	// width 650px
	height auto
	top 20%
	left 50%
	margin-left -260px
	box-shadow 0px 0px 10px #000
	padding 5px 5px 5px 5px
	border-radius 10px
	z-index 11520
	transition opacity 0.3s

	.texto
		background #fff
		display inline-block
		// margin-left 36px
		padding 2px 5px 5px 5px
		border-radius 10px
		width 100%
		box-sizing border-box
		background url(../img/bg1.gif)

		h2
			font-size 1.4em
			text-align center
			color white
			text-shadow 0px 1px 10px black

		p
			margin 0px 0px 10px 0px
			line-height 14px

		.frmcosplay,.detalles
			display inline-block
			vertical-align top

		.frmcosplay
			h4
				margin 0px
				color white
				text-shadow 0px 2px 5px #000000

			//
			label
				position relative

				&:after
					content '<>'
					font 11px "Open Sans", monospace
					color #aaa
					-webkit-transform rotate(90deg)
					-moz-transform rotate(90deg)
					-ms-transform rotate(90deg)
					transform rotate(90deg)
					right 8px
					top 2px
					padding 0 0 2px
					border-bottom 1px solid #ddd
					position absolute
					pointer-events none

				select
					margin 0px 0px 0px 0px
					padding 5px
					border-radius 4px
					box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
					background #f8f8f8
					color #888
					border none
					outline none
					display inline-block
					appearance none
					width 100%

					option
						font-weight bolder
						border-radius 5px
						color #FFFFFF
						border 1px #ccc solid
						background #ccc
			.titulo
				display block
				color white
				text-shadow 0px 2px 5px #000000
			//

			fieldset
				border 1px #868383 solid
				padding 5px
				border-radius 10px
				width 235px

				span
					display inline-block

		.detalles
			padding 180px 10px 0 10px
			text-align center
			background url("../img/formcosplay.gif") no-repeat center top
			height 88px

			p
				font-size 30px
				color #FFF
				background-color rgba(36, 123, 182, 0.25)
				border-radius 5px
				font-weight bold
				text-shadow 0px 2px 5px #000
				font-family Crete Round
				line-height 25px
				padding 5px 0px 15px 0px
				width 280px
				margin 0px auto

		.btn
			box-sizing border-box
			color #fff
			display inline-block
			zoom 1
			font-size 18px
			height 30px
			line-height 30px
			padding 0 15px
			position relative
			cursor pointer
			border none
			background #2ecc71
			box-shadow 0px 1px 10px black

			&:before
				border-right-color #2ecc71
				border-bottom 15px solid transparent
				border-right 10px solid #2ecc71
				border-top 15px solid transparent
				content ""
				position absolute
				right 100%
				top 0

	.cerrar
		font-size 15px
		position absolute
		display block
		background #000
		right 0px
		top 0px
		padding 5px
		border-radius 20px
		width 7px
		height 7px
		color #FFF
		line-height 5px
		margin -5px -5px 0px 0px
		box-shadow 0px 0px 2px #FFF
		cursor pointer

// .mensaje
// 	background #2EB143

// .error
// 	background #2E8CB1

.overlay
	background rgba(0,0,0,0.5)
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	cursor default

.rojo
	color #F00

.scrolmg
	overflow-y scroll
	height 260px
	width 280px

.planes
	width 100%
	height auto
	text-align center

	.plan
		margin 5px 0px 10px 0px
		display inline-block
		width 200px
		box-shadow 0px 1px 10px black
		background-color white
		border-radius 10px

		.azul
			background #008fd5

			&:after
				border-top 25px solid #008fd5

		.rojo
			background #D32B2B

			&:after
				border-top 25px solid #D32B2B

		.verde
			background #2BD353

			&:after
				border-top 25px solid #2BD353

		.valor
			color #fff
			padding 12px 0 0
			position relative

			.precio
				display inline-block
				zoom 1
				position relative

				.simbolo
					position absolute
					left 50px
					top 0

				.cantidad
					font-size 40px
					line-height 30px
					font-family Crete Round

				.moneda
					font-size 10px
					left 5px
					position absolute
					text-transform uppercase
					top 100%
					z-index 1

			&:after
				border-left 100px solid white
				border-right 100px solid white
				content " "
				left 0px
				position absolute
				top 100%

		.caracteristicas
			background #fff
			padding-top 35px

			h3
				color #003132
				font-size 24px
				font-style italic
				text-transform uppercase
				margin 0px
				font-family Crete Round

			p
				font-size 14px
				height 30px
				line-height 30px

				&:nth-child(2n)
					background #edeced

		.comprar
			width 100%
			height 45px
			background #ffc43a
			border none
			border-bottom 3px solid #f39c12
			box-sizing border-box
			color #b26500
			display inline-block
			zoom 1
			font-size 16px
			font-style normal
			font-weight 500
			line-height 15px
			min-width 125px
			padding 15px 0 0 0
			text-align center
			text-transform uppercase
			outline 0
			text-decoration none
			cursor pointer